= simple_form_for [@project, @profile], :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = error_span(@profile[:name])
  = f.input :description
  = error_span(@profile[:description])
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), project_profiles_path, :class => 'btn btn-default'
