- model_class = Profile
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @performable.name
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @performable.description

= link_to t('.back', :default => t("helpers.links.back")), project_profiles_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_project_profile_path(@performable.project, @performable), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), project_profile_path(@performable.project, @performable), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'

= render :template => 'performances/index'
