- model_class = Project
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name)
  %br
  = @project.name
%p
  %strong= model_class.human_attribute_name(:description)
  %br
  = @project.description
%p
  %strong= model_class.human_attribute_name(:cut) + ':'
  = @project.cut


= link_to t('.back', :default => t("helpers.links.back")), root_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_project_path(@project), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), project_path(@project), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'

- if @project.criterions.present?
  = render :template => 'criterions/index' 
- else
  .page-header
    %h2 Criterions
  = link_to t('.new', :default => t("helpers.links.new_criterion")), new_project_criterion_path(@project), :class => 'btn btn-primary'

- if @project.profiles.present?
  = render :template => 'profiles/index'
- else
  - if @project.criterions.present?
    .page-header
      %h2 Profiles
    = link_to t('.new', :default => t("helpers.links.new_profile")), new_project_profile_path(@project), :class => 'btn btn-primary'
  

- if @project.alternatives.present?
  = render :template => 'alternatives/index'
- else
  - if @project.criterions.present? && @project.profiles.present?
    .page-header
      %h2 Alternatives
    = link_to t('.new', :default => t("helpers.links.new_alternative")), new_project_alternative_path(@project), :class => 'btn btn-primary'