.col-sm-6.col-md-4.col-md-offset-4
  = simple_form_for([@project, @criterion], :html => { :class => 'form-horizontal' }) do |f|
    = f.error :base
    = f.error_notification
    
    = f.input :name
    = f.input :weight, input_html: { min: 0 }
    = f.input :preference, input_html: { min: 0 }
    = f.input :indifference, input_html: { min: 0 }
    = f.input :veto, input_html: { min: 0 }
    = f.input :direction, collection: %w[increasing decreasing], as: :radio_buttons, checked: 'increasing'
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), project_path(@criterion.project), :class => 'btn btn-default'
