= simple_form_for [@project, @alternative], :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = error_span(@alternative[:name])
  = f.input :description
  = error_span(@alternative[:description])
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), project_alternatives_path, :class => 'btn btn-default'
