<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Electre TRI APP</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Sistema Web de Apoio à Decisão Multicritério, Baseado no Algoritmo ELECTRE TRI.
  Trabalho de Conclusão do Curso de Bacharelado de Sistemas de Informação do Instituto Federal de Educação, Ciência e Tecnologia Fluminense, Campus Campos-Centro.">
  <meta name="author" content="Kíssila da Silva Ventura">
  <meta name="author" content="Ismael Moreira de Brito">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Electre TRI APP</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          	<li class="active"><a class="glyphicon glyphicon-home" href="/index">Home</a></li>
          	<li><a href="/about">About</a></li>
          	<li><a href="/team">Team</a></li>
            <li>
              <% if user_signed_in? %>
                <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="row navbar-responsive">
        <div class="span10">
        	<%= render 'layouts/messages' %>
				  <%= yield %>
			  </div>
      </div>
      <%= render 'layouts/footer' %>
    </div>

</body>
</html>
